

Package: HryPhisher 
Version: 2.2
Installed-Size: 1065
Architecture: all
Maintainer: @HryJoon 
Depends: php, wget, git, curl, resolv-conf, proot
Homepage:  https://github.com/HryJoon/HryPhisher.git
Description: A 32+ Template Tool With Cloudflared Link XPhisher This Tool is made for educational purpose only !
